<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
  <h1><%="Team Name: " + @name%></h1>
  <h2><%="Coach: " + @coach %><h2>
  <h2><%="Point Guard: " + @point_gu %><h2>
  <h2><%="Shooting Guard: " + @shooting_gu %><h2>
  <h2><%="Small Forward: " + @small_fo %><h2>
  <h2><%="Power Forward: "+  @power_fo %><h2>
  <h2><%="Center: "+  @c %><h2>

 </body>
</html>


